= simple_form_for @comment, class: "form-group", url: destroy_comment_movie_path, method: :delete do |f|
  = f.association :movie, as: :hidden, input_html: { value: params[:id] }
  = f.association :user, as: :hidden, input_html: { value: current_user.id }
  = f.submit "Remove comment", class: "btn btn-danger btn btn-xl"